<div class="container-fluid">

  <h4 class="titulo p-3">{{this.servicio.articuloActual?.name || "Panel principal"}}</h4>
 
  <div class="row justify-content-around botones p-2">
    <app-modal-add-product ></app-modal-add-product>
    <button class="btn btn-primary" (click)="addProduct()">Ver pantalla completa</button>
    <button class="btn btn-primary">Personalizar gráfica</button>
    <div ngbDropdown class="">
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Ver por</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Día</button>
        <button ngbDropdownItem>Semana</button>
        <button ngbDropdownItem>Mes</button>
      </div>
    </div> 

  </div>

   <!-- <div class="container"> -->
    <app-price-history-chart></app-price-history-chart>
   <!-- </div> -->

</div>


